.card {
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: #aaa 4px 4px 4px;
  cursor: pointer;
  height: 150px;
  margin: 5px;
  padding: 20px;
  width: 100px;
}

.card.black {
  background-color: #666;
}

.card.blue {
  background-color: rgb(107, 92, 241);
}

.card.purple {
  background-color: rgb(235, 109, 247);
}

.card.red {
  background-color: red;
}

.card.selected {
  border-color: red;
}

.card.matched {
  opacity: 0.5;
  border-color: green;
}
